<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

        <title>Home</title>
    </head>
    <body class="p-3 mb-2 bg-light text-black">
        <div class="container">
            <div id="logoutDiv">
                <form th:action="@{/logout}" method="POST">
                    <button type="submit" class="btn btn-secondary float-right" id="logout-button">Logout</button>
                </form>
            </div>
            <div id="contentDiv" style="clear: right;">
                <div id="returnMessages">
                    <div class="alert alert-success" th:if="${noteChangeSuccess}">
                        Note was saved successfully
                    </div>
                    <div class="alert alert-success" th:if="${noteRemoveSuccess}">
                        Note was removed successfully
                    </div>
                    <div class="alert alert-success" th:if="${credentialChangeSuccess}">
                        Credential was saved successfully
                    </div>
                    <div class="alert alert-success" th:if="${credentialRemoveSuccess}">
                        Credential was removed successfully
                    </div>
                    <div class="alert alert-success" th:if="${fileUploadSuccess}">
                        File was uploaded successfully
                    </div>
                    <div class="alert alert-success" th:if="${fileRemoveSuccess}">
                        File was removed successfully
                    </div>
                    <div class="alert alert-danger" th:if="${duplicateFileName}">
                        File name was already used
                    </div>
                    <div class="alert alert-danger" th:if="${noFile}">
                        A file must be selected
                    </div>
                    <div class="alert alert-danger" th:if="${fileTooLarge}">
                        File is too large
                    </div>
                    <div class="alert alert-danger" th:if="${notDescTooLarge}">
                        Note description is too large
                    </div>
                    <div class="alert alert-danger" th:if="${noteTitleDuplicate}">
                        Note title already exist
                    </div>
                    <div class="alert alert-danger" th:if="${credentialsUsernameDuplicate}">
                        Credential username already exist
                    </div>


                </div>
                <nav style="clear: right;">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-files-tab" data-toggle="tab" href="#nav-files" role="tab" aria-controls="nav-files" aria-selected="true">Files</a>
                        <a class="nav-item nav-link" id="nav-notes-tab" data-toggle="tab" href="#nav-notes" role="tab" aria-controls="nav-notes" aria-selected="false">Notes</a>
                        <a class="nav-item nav-link" id="nav-credentials-tab" data-toggle="tab" href="#nav-credentials" role="tab" aria-controls="nav-credentials" aria-selected="false">Credentials</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-files" role="tabpanel" aria-labelledby="nav-files-tab">
                        <form th:action="@{/file}"  action="#" enctype="multipart/form-data" th:method="post">
                            <div class="container">
                                <div class="row" style="margin: 1em;">
                                    <div class="col-sm-2">
                                        <label for="fileUpload">Upload a New File:</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="file" class="form-control-file" id="fileUpload" name="fileUpload">
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="submit" class="btn btn-dark">Upload</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="table table-striped" id="fileTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 80%" scope="col">File Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr th:each="file: ${files}">
                                    <td>
                                        <form th:action="@{/file}" th:object="${file}" th:method="delete">
                                            <input type="hidden" th:value="*{fileId}" name="fileId">
                                            <button class="btn btn-danger" type="submit">Delete</button>
                                        </form>
                                    </td>
                                    <td>
                                        <form th:action="@{/file}" th:object="${file}" th:method="get">
                                            <input type="hidden" th:value="*{fileId}" name="fileId">
                                            <button class="btn btn-success" type="submit">View</button>
                                        </form>
                                    </td>
                                    <th colspan="2" scope="row" th:text="${file.fileName}"/>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-notes" role="tabpanel" aria-labelledby="nav-notes-tab">
                        <button style="margin: 0.25em;" type="button" class="btn btn-info float-right" onclick="showNoteModal()" id="add-note">
                            + Add a New Note
                        </button>

                        <div class="table-responsive">
                            <table class="table table-striped" id="userTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 20%" scope="col">Title</th>
                                        <th style="width: 60%" scope="col">Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="note : ${notes}">
                                        <td>
                                            <form th:action="@{/note}" th:object="${note}" th:method="delete">
                                                <input type="hidden" th:value="*{noteId}" name="noteId">
                                                <button class="btn btn-danger" type="submit">Delete</button>
                                            </form>
                                        </td>
                                        <td>
                                            <button style="margin: 0.25em;" type="button" class="btn btn-info float-right"
                                                    th:data1="${note.noteId}" th:data2="${note.noteTitle}" th:data3="${note.noteDescription}"
                                                    th:onclick="showNoteModal(this.getAttribute('data1'),this.getAttribute('data2'),this.getAttribute('data3'));" >
                                                Edit
                                            </button>
                                        </td>
                                        <th scope="row" th:text="${note.noteTitle}"/>
                                        <td th:text="${note.noteDescription}" />
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="noteModalLabel">Note</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="#" th:method="POST" th:action="@{/note}" th:object="${newNote}">
                                            <input type="hidden" name="noteId" id="note-id" th:value="*{noteId}">
                                            <div class="form-group">
                                                <label for="note-title" class="col-form-label">Title</label>
                                                <input type="text" name= "noteTitle" class="form-control" th:value="*{noteTitle}" id="note-title" maxlength="20" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="note-description" class="col-form-label">Description</label>
                                                <textarea class="form-control" name="noteDescription" id="note-description"  th:value="*{noteDescription}" rows="5" maxlength="1000" required></textarea>
                                            </div>
                                            <button type="submit" class="d-none" id="noteSubmit"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" onclick="$('#noteSubmit').click();" id="save-note-button">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-credentials" role="tabpanel" aria-labelledby="nav-credentials-tab">
                        <button style="margin: 0.25em;" type="button" class="btn btn-info float-right" onclick="showCredentialModal()" id="add-credential">
                            + Add a New Credential
                        </button>

                        <div class="table-responsive">
                            <table class="table table-striped" th:object="${credentials}" id="credentialTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 20%" scope="col">URL</th>
                                        <th style="width: 20%" scope="col">Username</th>
                                        <th style="width: 20%" scope="col">Password</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr th:each="credential : ${credentials}">
                                    <td>
                                        <form th:action="@{/credential}" th:object="${credential}" th:method="delete">
                                            <input type="hidden" th:value="*{credentialId}" name="credentialId">
                                            <button class="btn btn-danger" type="submit">Delete</button>
                                        </form>
                                    </td>
                                    <td>
                                        <form th:action="@{/credential}" th:object="${credential}" th:id="editCredentialForm" >
                                            <input type="hidden" th:value="*{credentialId}" name="credentialId">
                                            <button style="margin: 0.25em;"  class="btn btn-success" type="submit">edit</button>
                                        </form>
                                    </td>

                                    <th scope="row" th:text="${credential.url}" />
                                    <td th:text="${credential.username}"/>
                                    <td th:text="${credential.password}"/>

                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="modal fade" id="credentialModal" tabindex="-1" role="dialog" aria-labelledby="credentialModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="credentialModalLabel">Credential</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="#" method="POST" th:object="${newCredential}" th:action="@{/credential}">
                                            <input type="hidden" name="credentialId" id="credential-id" th:value="*{credentialId}">
                                            <div class="form-group">
                                                <label for="note-title" class="col-form-label">URL</label>
                                                <input type="text" name= "url" class="form-control" id="credential-url" maxlength="100" th:value="*{url}" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="note-title" class="col-form-label">Username</label>
                                                <input type="text" name= "username" class="form-control" id="credential-username" maxlength="30" th:value="*{username}" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="note-title" class="col-form-label">Password</label>
                                                <input type="text" name= "password" class="form-control" id="credential-password" maxlength="30" th:value="*{password}"  required>
                                            </div>
                                            <button id="credentialSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" onclick="$('#credentialSubmit').click();"
                                                id="save-credential-button" >Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>

        <!--For opening the note modal-->
        <script type="text/javascript">
            // For opening the note modal
            function showNoteModal(noteId, noteTitle, noteDescription) {
                $('#note-id').val(noteId ? noteId : '');
                $('#note-title').val(noteTitle ? noteTitle : '');
                $('#note-description').val(noteDescription ? noteDescription : '');
                $('#noteModal').modal('show');
            }

            // For opening the credentials modal
            function showCredentialModal(credentialId, url, username, password) {
                $('#credential-id').val(credentialId ? credentialId : '');
                $('#credential-url').val(url ? url : '');
                $('#credential-username').val(username ? username : '');
                $('#credential-password').val(password ? password : '');
                $('#credentialModal').modal('show');
            }
        </script>


        <script  th:inline="javascript">
            $( "#editCredentialForm" ).submit(function(e) {
                e.preventDefault();
                $.ajax({
                    type: "get",
                    url: "/credential",
                    data: $('#editCredentialForm').serialize(),
                    success: function(result) {
                        showCredentialModal(result.credentialId,result.url,result.username,result.password);
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(xhr.status);
                    }
                });
            });

        </script>
    </body>
</html>